<h3><%= @book_review.title %></h3>

<p class="left"><a href="<%= @book_review.image %>"><img src="<%= @book_review.image %>" alt ="book_image" width="120" height="160"></a></p>
<p class="content"><%= @book_review.content %></p>

<p>Reviewed by: <%= @book_review.user.username %></p>

<p>Created On: <%= @book_review.created_at_stamp %></p>
<br><br>
<% if @book_review.user == current_user %>
   <a href="/book_reviews/<%= @book_review.id %>/edit"> <button type="submit" class="btn btn-primary">Edit Book Review</button></a>
   <br><br>
   <form action="/book_reviews/<%= @book_review.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    
    <button type="submit" class="btn btn-danger">Delete Book Review</button>
  </form>
<% end %>
<br><br>
<p><a href="/book_reviews"><button type="submit" class="btn btn-success">Go to Book Reviews Home Page</button></a></p>
